@using Plan5W2HPlusPlus.Model.Models

@{
    ViewBag.Titulo = "Projetos";
    ViewBag.Localizacao = "Projetos";
}

@Html.Partial("BodyFirstPart")

@*Content Start*@

                    <div class="row-fluid">

                       <div class="tableBox">
                            
                            <div class="box">

                                <div class="title">

                                    <h4>
                                        <span class="icon16 brocco-icon-grid"></span>
                                        <span>Lista de Projetos</span>
                                        <form class="box-form right" action="">
                                            <a style="margin-right:70px" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                <span class="icon16 iconic-icon-cog"></span>
                                                <span class="caret"></span>
                                            </a>
                                            <ul style="margin-right:70px" class="dropdown-menu" >
                                                <li><a href="@Url.Action("Create", "Plan5W2H")"><span class="icon-plus"></span> Adicionar</a></li>
                                            </ul>
                                        </form>
                                       
                                    </h4>
                                    <a href="#" class="minimize">Minimize</a>
                                </div>
                                <div class="content noPad">
                                    <table class="responsive table table-bordered" id="checkAll">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                            <th>Actions</th>
                                          </tr>
                                        </thead>
                                        @if(Model.Count > 0) {
                                            <tbody>
                                              @foreach(Plan5W2H plan in Model) {
                                               <tr>                                            
                                                <td>@plan.</td>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                                <td>
                                                    <div class="controls center">
                                                        <a href="#" class="tip" oldtitle="Editar tarefa" title="" aria-describedby="ui-tooltip-3"><span class="icon24 icomoon-icon-pencil"></span></a>
                                                        <a href="#" class="tip" oldtitle="Remover tarefa" title="" aria-describedby="ui-tooltip-3"><span class="icon24 icomoon-icon-remove"></span></a>
                                                    </div>
                                                </td>
                                              </tr>
                                              }
                                            </tbody>
                                        }else{
                                             <tbody>
                                               <tr>                                            
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                              </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>

                            </div><!-- End .box -->

                        </div><!-- End .span6 -->

                    </div><!-- End .row-fluid -->
@*Content End*@

@Html.Partial("BodySecondPart")
                