<div class="sidenav">
            @if(this.Request.IsAuthenticated)
            {
                <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                    <h5 class="title" style="margin-bottom:0">Navegação</h5>
                </div><!-- End .sidenav-widget -->

                
                <div class="mainnav">
                    <ul>
                        <li><a href="@Url.Action("Index","Plan5W2H")" class="first"><span class="icon16 icomoon-icon-stats-up"></span>Meus Projetos</a></li>
                        <li><a href="@Url.Action("Index","Task")" class="second"><span class="icon16 icomoon-icon-copy"></span>Minhas Tarefas</a></li>
                        <li><a href="@Url.Action("Index","Colaboradores")" class="third"><span class="icon16 entypo-icon-contact"></span>Colaboradores</a></li>
                    </ul>
                </div>
            }
            </div><!-- End sidenav -->