                    <div class="row-fluid">

                        <div class="span12">

                            @if(ViewBag.Message != null && ViewBag.Message.Equals("ERROR"))
                            {
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Erro!</strong>
                                @if(ViewBag.MessageContent != null)
                                { 
                                    @ViewBag.MessageContent
                                }
                                else
                                {
                                    @("As alterações não foram aplicadas com sucesso.")
                                }
                            </div>
                            }
                            else if(ViewBag.Message != null && ViewBag.Message.Equals("SUCCESS"))
                            {
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Sucesso!</strong> 
                                @if(ViewBag.MessageContent != null)
                                { 
                                    @ViewBag.MessageContent
                                }
                                else
                                {
                                    @("As alterações foram aplicadas com sucesso.")
                                }
                            </div>
                            }
                        </div><!-- End .span12 -->

                    </div><!-- End .row-fluid -->